/* ====Major fixes start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
/* ====Major fixes end */

/* ====First section starts here ==== */
.firstsection {
  height: 460px;
  display: flex;
}
.firstsection-leftdiv {
  width: 50%;
  padding-top: 20px;
  padding-left: 40px;
  height: 100%;
  background: var(--gray-color);
  padding-right: 30px;
}
.logo {
  margin-bottom: 30px;
}

span {
  color: var(--main-color);
}
.line {
  background: var(--main-color);
  padding: 8px;
  width: 224px;
}
.headingwriteup{
    margin: 30px 0;
}

.link-holder {
  color: var(--white-color);
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.firstsection-rightdiv {
  height: 100%;
  width: 50%;
  background: linear-gradient(
      to right,
      rgba(244, 107, 69, 0.4),
      rgba(238, 168, 73, 0.4)
    ),
    url(./images/image1.jpg);
  background-size: cover;
  background-position: bottom left;
}

/* ====First section ends here ==== */

/* ====Second section starts here ==== */
/* ====Second section ends here ==== */

/* ====Third section starts here ==== */
/* ====Third section ends here ==== */
