/* ====Major fixes start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
}

/* ====Major fixes end */

/* ====First section starts here ==== */
.firstsection {
  height: 460px;
  display: flex;
}
.firstsection-leftdiv {
  width: 50%;
  padding-top: 20px;
  padding-left: 40px;
  height: 100%;
  background: var(--gray-color);
  padding-right: 30px;
}
.logo {
  margin-bottom: 30px;
}

span {
  color: var(--main-color);
}
.line {
  background: var(--main-color);
  padding: 8px;
  width: 224px;
}
.headingwriteup {
  margin: 30px 0;
}

.link-holder {
  color: var(--white-color);
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.firstsection-rightdiv {
  height: 100%;
  width: 50%;
  background: var(--linear-gradient), url(./images/image1.jpg);
  background-size: cover;
  background-position: bottom left;
}

/* ====First section ends here ==== */

/* ====Second section starts here ==== */
.secondsection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  flex-wrap: wrap;
}

.secondsection-leftdiv {
  width: 310px;
  height: 400px;
  background: var(--gray-color);
  text-align: center;
  padding: 40px 20px;
}

.secondsection-leftdiv p {
  text-align: left;
  margin: 20px 0;
}

.secondsection-rightdiv {
  width: 340px;
  height: 480px;
  margin-left: 20px;
}

/* ====Second section ends here ==== */

/* ====Third section starts here ==== */
.thirdsection {
  display: flex;
  width: 100%;
  padding: 30px 0;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.thirdsection-leftdiv {
  width: 310px;
  height: 480px;
}

.thirdsection-rightdiv {
  padding: 40px 20px;
  height: 480px;
  width: 310px;
  background-color: rgb(250, 54, 19);
}

.thirdsection-rightdiv p {
  margin: 20px 0;
  text-align: left;
  /* padding: 0 50px; */
}
/* ====Third section ends here ==== */
